1. Name - Humera Bano
2. Github Username - humera811
3. USC ID - 7255691039

In [2]:
# organizing all imports together

import pandas as pd
import os
import glob
import numpy as np
import re
import math
import warnings
import csv as csv
from os.path import join, getsize
from pathlib import Path
from sklearn.utils import resample

## __Time Series Classification__
Part 1: Feature Creation/Extraction
An interesting task in machine learning is classification of time series. In this problem,
we will classify the activities of humans based on time series obtained by a Wireless
Sensor Network.

#### __(a) Download the AReM data from: https://archive.ics.uci.edu/ml/datasets/ Activity+Recognition+system+based+on+Multisensor+data+fusion+\%28AReM\ %29 . The dataset contains 7 folders that represent seven types of activities. In each folder, there are multiple files each of which represents an instant of a human performing an activity.1 Each file containis 6 time series collected from activities of the same person, which are called avg rss12, var rss12, avg rss13, var rss13, vg rss23, and ar rss23. There are 88 instances in the dataset, each of which contains 6 time series and each time series has 480 consecutive values.__

In [3]:
# removing extra comma in cycling dataset9.csv and cycling dataset14.csv manually as suggested on piazza
# bending2 dataset4.csv space separated (delimitter/sep_)
# https://www.geeksforgeeks.org/how-to-use-glob-function-to-find-files-recursively-in-python/
path = "../../data/AReM/"
actv_dir = ['bending1', 'bending2']
actv_dir2 = ['bending1','bending2','cycling', 'lying', 'sitting', 'standing', 'walking']
features = ['mean_', 'std_', 'min_', 'first_quartile_', 'median_', 'third_quartile_','max_']
columns = ['# Columns: time', 'avg_rss12', 'var_rss12', 'avg_rss13', 'var_rss13', 'avg_rss23', 'var_rss23']

#### __(b) Keep datasets 1 and 2 in folders bending1 and bending 2, as well as datasets 1, 2, and 3 in other folders as test data and other datasets as train data.__

In [4]:
# https://stackoverflow.com/questions/22809061/read-space-separated-data-with-pandas
# https://www.summet.com/dmsi/html/CSVdataFiles.html
# https://pandas.pydata.org/pandas-docs/version/0.25.0/reference/api/pandas.DataFrame.T.html
# https://docs.python.org/3/library/os.html
# https://www.tutorialspoint.com/python/os_walk.htm
# https://www.geeksforgeeks.org/python-os-path-splitext-method/

# !/usr/bin/python
def train_or_test(root):
    trainset = []
    testset = []
    # scanning bottom-to-up
    for root, dirs, files in os.walk(path, topdown=False):
        for name in files:
            # Split the path in root and ext pair
            root_ext = os.path.splitext(name)
            root_val = root_ext[1]
            if (root_val.endswith('.csv')):
                # https://www.geeksforgeeks.org/python-regex-re-search-vs-re-findall/
                file_path = os.path.join(root, name)
                # print(file_path)
                my_path = os.path.split(root)
                feature_act = my_path[-1]
                # my_path = Path(path)
                # activity = my_path.stem
                regex = '\d+'
                match = re.findall(regex, name)
                # for bending 1 and 2
                match_activity = int(match[0])
                if (match_activity <= 2 or (feature_act not in actv_dir and match_activity == 3)):
                    testset.append(file_path)
                else:
                    trainset.append(file_path)
    return trainset, testset
train_set, test_set = train_or_test(path)

### __(c) Feature Extraction Classification of time series usually needs extracting features from them.In this problem, we focus on time-domain features__

#### __i. Research what types of time-domain features are usually used in time series classification and list them (examples are minimum, maximum, mean, etc)__

Time-domain features are usually used in time series classification are:
1. Means
2. Standard Deviations
3. Skewness, Kurtosis
4. Maximum and minimum values

#### __ii. Extract the time-domain features minimum, maximum, mean, median, standard deviation, first quartile, and third quartile for all of the 6 time series in each instance.You are free to normalize/standardize features or use them directly__

In [5]:
# https://stackoverflow.com/questions/18366797/pandas-read-csv-how-to-skip-comment-lines
# https://stackoverflow.com/questions/25440008/python-pandas-flatten-a-dataframe-to-a-list
csv_files = glob.glob('../../data/AReM/*/*.csv', recursive=True)
# print(csv_files)
sniffer = csv.Sniffer()

def load_data(csv_files, activity, columns, split=1, standardize=False):
    column_names = [desc + str(i) for i in range(1, 7) for desc in features]
    train_test_instances  = [] 
    train_test_labels = []
    train_instances = []
    test_instances = []
    train_label=[]
    test_label=[]
    for csv in csv_files:
        root = os.path.dirname(csv)
        my_path = os.path.split(root)
        feature_act = my_path[-1]
        # print(feature_act)
        train_test_labels.append(feature_act)
        #separator
        # https://stackoverflow.com/questions/45732459/retrieve-delimiter-infered-by-read-csv-in-pandas
        sep_ = sniffer.sniff(open(csv).read())
        sep = sep_.delimiter
        if sep == ' ':
            df = pd.read_csv(csv, comment = '#', header=None, sep="\s+")
        else:
            df = pd.read_csv(csv, comment = '#', header=None)
            
        df.columns = ['# Columns: time', 'avg_rss12', 'var_rss12', 'avg_rss13', 'var_rss13', 'avg_rss23', 'var_rss23']
        # finding length of each split
        split_length = int(df.shape[0] / split)
        train_test_seg = []
        for j in range(split):
            df_describe = df[j*split_length : min((j+1)*split_length,df.shape[0])]
            df_describe = df_describe.describe().drop('count').drop(columns="# Columns: time").T
            train_test_seg.append(df_describe.to_numpy().flatten())
        train_test_instances.append(np.concatenate(train_test_seg, axis=0))      
    df_new = pd.DataFrame(train_test_instances, columns=column_names)
    df_new = df_new.loc[:, activity]
    df_new['label'] = pd.Series(train_test_labels) # adding label as suggested on piazza
    return df_new

In [6]:
new_columns = ['min_','max_','mean_','median_','std_','first_quartile_', 'third_quartile_']
activity = [stat + str(i) for i in range(1, 7) for stat in new_columns]
#trainset
train_stats = load_data(train_set, activity, columns)
# train_data.insert(loc=0, column='row_num', value=np.arange(len(train_stats)))
# train_stats.isnull().any()
train_stats

,min_1,max_1,mean_1,median_1,std_1,first_quartile_1,third_quartile_1,min_2,max_2,mean_2,...,first_quartile_5,third_quartile_5,min_6,max_6,mean_6,median_6,std_6,first_quartile_6,third_quartile_6,label
0,36.25,48.00,43.969125,44.50,1.618364,43.3100,44.67,0.0,1.50,0.413125,...,20.5000,23.7500,0.0,2.96,0.555312,0.490,0.487826,0.0000,0.8300,bending1
1,37.00,48.00,43.454958,43.25,1.386098,42.5000,45.00,0.0,1.58,0.378083,...,22.2500,24.0000,0.0,5.26,0.679646,0.500,0.622534,0.4300,0.8700,bending1
2,33.00,47.75,42.179812,43.50,3.670666,39.1500,45.00,0.0,3.00,0.696042,...,30.4575,36.3300,0.0,2.18,0.613521,0.500,0.524317,0.0000,1.0000,bending1
3,33.00,45.75,41.678063,41.75,2.243490,41.3300,42.75,0.0,2.83,0.535979,...,28.4575,31.2500,0.0,1.79,0.383292,0.430,0.389164,0.0000,0.5000,bending1
4,35.00,47.40,43.954500,44.33,1.558835,43.0000,45.00,0.0,1.70,0.426250,...,35.3625,36.5000,0.0,1.79,0.493292,0.430,0.513506,0.0000,0.9400,bending1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64,18.50,44.25,35.752354,36.00,4.614802,33.0000,39.33,0.0,12.60,3.328104,...,14.0000,18.0625,0.0,9.39,3.069667,2.770,1.748326,1.7975,4.0600,cycling
65,24.25,45.00,37.177042,36.25,3.581301,34.5000,40.25,0.0,8.58,2.374208,...,17.9500,21.7500,0.0,9.34,2.921729,2.500,1.852600,1.5000,3.9000,cycling
66,23.33,43.50,36.244083,36.75,3.822016,33.4575,39.25,0.0,9.71,2.736021,...,15.7500,21.0000,0.0,11.15,3.530500,3.110,1.963685,2.1700,4.6175,cycling
67,26.25,44.25,36.957458,36.29,3.434863,34.5000,40.25,0.0,8.64,2.420083,...,14.0000,18.2500,0.0,8.34,2.934625,2.525,1.631380,1.6600,4.0300,cycling
68,27.75,44.67,37.144833,36.33,3.758904,34.0000,40.50,0.0,10.76,2.419062,...,15.0000,18.7500,0.0,8.75,2.822437,2.590,1.637183,1.5800,3.7400,cycling

In [7]:
test_stats = load_data(test_set, activity, columns)
# test_stats.isnull().any()
test_stats

,min_1,max_1,mean_1,median_1,std_1,first_quartile_1,third_quartile_1,min_2,max_2,mean_2,...,first_quartile_5,third_quartile_5,min_6,max_6,mean_6,median_6,std_6,first_quartile_6,third_quartile_6,label
0,37.25,45.00,40.624792,40.500,1.476967,39.2500,42.0000,0.0,1.30,0.358604,...,33.0000,36.0000,0.0,1.92,0.570583,0.430,0.582915,0.0000,1.300,bending1
1,38.00,45.67,42.812812,42.500,1.435550,42.0000,43.6700,0.0,1.22,0.372437,...,32.0000,34.5000,0.0,3.11,0.571083,0.430,0.601010,0.0000,1.300,bending1
2,19.33,43.50,34.227771,35.500,4.889576,30.5000,37.7500,0.0,14.50,3.995729,...,14.7500,18.6700,0.0,9.74,3.394125,3.100,1.792090,2.1050,4.425,walking
3,12.50,45.00,33.509729,34.125,4.850923,30.5000,36.7500,0.0,13.05,4.450771,...,14.6275,18.7500,0.0,8.96,3.378479,3.085,1.787360,2.0600,4.440,walking
4,15.00,46.75,34.660583,35.000,5.315110,31.0000,38.2500,0.0,13.44,4.200896,...,14.2500,18.5000,0.0,8.99,3.244396,3.000,1.630983,2.1200,4.240,walking
5,12.75,51.00,24.562958,24.250,3.737514,23.1875,26.5000,0.0,6.87,0.590833,...,20.5000,27.0000,0.0,4.97,0.700188,0.500,0.693720,0.4300,0.870,bending2
6,0.00,42.75,27.464604,28.000,3.583582,25.5000,30.0000,0.0,7.76,0.449708,...,15.0000,20.7500,0.0,6.76,1.122125,0.830,1.012342,0.4700,1.300,bending2
7,33.33,48.00,44.334729,45.000,2.476940,42.2500,46.5000,0.0,3.90,0.432958,...,9.3300,17.7500,0.0,5.02,0.933000,0.830,0.673609,0.4700,1.250,standing
8,35.50,46.25,43.174938,43.670,1.989052,42.5000,44.5000,0.0,2.12,0.506583,...,12.7500,16.5000,0.0,5.72,0.911979,0.830,0.666161,0.4700,1.220,standing
9,32.75,47.00,42.760562,44.500,3.398919,41.3300,45.3725,0.0,3.34,0.486167,...,13.0000,18.5650,0.0,5.73,0.842271,0.710,0.722165,0.4300,1.090,standing
10,33.25,48.00,42.363563,43.000,2.068247,42.0000,43.5000,0.0,4.44,0.492563,...,10.1875,17.6900,0.0,6.02,1.034021,0.830,0.985627,0.4700,1.250,sitting
11,37.00,50.75,45.917667,45.635,1.089027,45.0000,46.5000,0.0,4.87,0.324542,...,16.5000,21.0000,0.0,7.22,0.904604,0.710,0.896171,0.4300,1.120,sitting
12,44.50,46.75,45.239667,45.000,0.429915,45.0000,45.3300,0.0,1.00,0.172958,...,17.6275,21.0000,0.0,8.20,0.837250,0.710,0.835344,0.4300,1.120,sitting
13,23.50,30.00,27.716375,27.500,1.442253,27.0000,29.0000,0.0,1.79,0.363687,...,5.5000,10.7500,0.0,4.50,0.734271,0.710,0.613688,0.4300,1.000,lying
14,24.75,48.33,44.182937,48.000,7.495615,48.0000,48.0000,0.0,3.11,0.101875,...,2.0000,5.5425,0.0,3.91,0.692771,0.500,0.675781,0.3225,0.940,lying
15,48.00,48.25,48.004167,48.000,0.032038,48.0000,48.0000,0.0,0.43,0.007167,...,4.6700,10.0000,0.0,2.50,0.641229,0.500,0.388372,0.4600,0.830,lying
16,24.25,45.00,37.177042,36.250,3.581301,34.5000,40.2500,0.0,8.58,2.374208,...,17.9500,21.7500,0.0,9.34,2.921729,2.500,1.852600,1.5000,3.900,cycling
17,28.75,44.75,37.561187,36.875,3.226507,35.2500,40.2500,0.0,9.91,2.080687,...,18.0000,21.5000,0.0,9.62,2.765896,2.450,1.769203,1.4100,3.770,cycling
18,22.00,44.67,37.058708,36.000,3.710180,34.5000,40.0625,0.0,14.17,2.438146,...,16.0000,21.0000,0.0,8.55,2.983750,2.570,1.815730,1.5000,4.150,cycling

### __1. (c). iii. Estimate the standard deviation of each of the time-domain features you extracted from the data. Then, use Python’s bootstrapped or any other method to build a 90% bootsrap confidence interval for the standard deviation of each feature.__

In [8]:
data_set = train_stats.append(train_stats, ignore_index=True)
data_set.describe().loc['std']

/var/folders/2w/fxcxhm2n4cj5sn4x1nv3vhqc0000gn/T/ipykernel_70904/2736491646.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data_set = train_stats.append(train_stats, ignore_index=True)

min_1               8.762140
max_1               4.412987
mean_1              4.899736
median_1            4.937990
std_1               1.752199
first_quartile_1    5.710307
third_quartile_1    4.766155
min_2               0.000000
max_2               5.129019
mean_2              1.594808
median_2            1.431649
std_2               0.899469
first_quartile_2    0.948719
third_quartile_2    2.150367
min_3               3.042703
max_3               4.742450
mean_3              3.849179
median_3            3.831669
std_3               0.992367
first_quartile_3    4.130098
third_quartile_3    3.931595
min_4               0.000000
max_4               2.293990
mean_4              1.175467
median_4            1.145382
std_4               0.471793
first_quartile_4    0.839690
third_quartile_4    1.560837
min_5               5.349156
max_5               5.429800
mean_5              5.101791
median_5            5.248155
std_5               1.054104
first_quartile_5    5.523612
third_quartile_5    4.939105
min_6               0.051577
max_6               2.530878
mean_6              1.167023
median_6            1.100587
std_6               0.517478
first_quartile_6    0.771402
third_quartile_6    1.544550
Name: std, dtype: float64

In [21]:
bci_estimate = pd.DataFrame(columns=["Features","90% Bootsrap confidence interval"])
count=0
new_data = train_stats.columns[:-1]
for col_name in new_data:
    estimate = []
    feature = data_set[col_name].to_numpy()
    for i in range(1000):
        resamples = resample(feature, replace=True, n_samples=feature.shape[0])
        estimate.append(np.std(resamples))
    lower = 5
    upper = 95
    bci_estimate.loc[count]=[col_name,'('+str(np.percentile(estimate,lower))[:4]+","+str(np.percentile(estimate,upper))[:4]+')']
    count+=1
bci_estimate

            Features 90% Bootsrap confidence interval
0              min_1                      (7.84,9.62)
1              max_1                      (3.62,5.09)
2             mean_1                      (4.47,5.23)
3           median_1                      (4.49,5.26)
4              std_1                      (1.59,1.86)
5   first_quartile_1                      (5.31,6.04)
6   third_quartile_1                      (4.18,5.25)
7              min_2                        (0.0,0.0)
8              max_2                      (4.78,5.38)
9             mean_2                      (1.45,1.69)
10          median_2                      (1.29,1.52)
11             std_2                      (0.83,0.94)
12  first_quartile_2                      (0.85,1.01)
13  third_quartile_2                      (1.96,2.27)
14             min_3                      (2.87,3.14)
15             max_3                      (4.20,5.19)
16            mean_3                      (3.36,4.21)
17          median_3                      (3.32,4.22)
18             std_3                      (0.83,1.13)
19  first_quartile_3                      (3.66,4.50)
20  third_quartile_3                      (3.45,4.32)
21             min_4                        (0.0,0.0)
22             max_4                      (2.12,2.43)
23            mean_4                      (1.11,1.21)
24          median_4                      (1.07,1.18)
25             std_4                      (0.44,0.49)
26  first_quartile_4                      (0.78,0.87)
27  third_quartile_4                      (1.46,1.61)
28             min_5                      (4.08,6.36)
29             max_5                      (4.60,6.08)
30            mean_5                      (4.07,5.90)
31          median_5                      (4.15,6.14)
32             std_5                      (0.87,1.22)
33  first_quartile_5                      (4.48,6.41)
34  third_quartile_5                      (4.06,5.73)
35             min_6                       (0.0,0.07)
36             max_6                      (2.31,2.72)
37            mean_6                      (1.09,1.21)
38          median_6                      (1.02,1.14)
39             std_6                      (0.48,0.53)
40  first_quartile_6                      (0.71,0.80)
41  third_quartile_6                      (1.44,1.60)