1. Name - Humera Bano
2. Github Username - humera811
3. USC ID - 7255691039

In [193]:
# organizing all imports together

import pandas as pd
import os
import glob

## __Time Series Classification__
Part 1: Feature Creation/Extraction
An interesting task in machine learning is classification of time series. In this problem,
we will classify the activities of humans based on time series obtained by a Wireless
Sensor Network.

#### __(a) Download the AReM data from: https://archive.ics.uci.edu/ml/datasets/ Activity+Recognition+system+based+on+Multisensor+data+fusion+\%28AReM\ %29 . The dataset contains 7 folders that represent seven types of activities. In each folder, there are multiple files each of which represents an instant of a human performing an activity.1 Each file containis 6 time series collected from activities of the same person, which are called avg rss12, var rss12, avg rss13, var rss13, vg rss23, and ar rss23. There are 88 instances in the dataset, each of which contains 6 time series and each time series has 480 consecutive values.__

In [194]:
# removing extra comma in cycling dataset9.csv and cycling dataset14.csv manually as suggested on piazza

path = "../../data/AReM/"
actv_dir = ['bending1', 'bending2']
actv_dir2 = ['cycling', 'lying', 'sitting', 'standing', 'walking']
col = ['# Columns: time', 'avg_rss12', 'var_rss12', 'avg_rss13', 'var_rss13', 'avg_rss23', 'var_rss23']

#### __(b) Keep datasets 1 and 2 in folders bending1 and bending 2, as well as datasets 1, 2, and 3 in other folders as test data and other datasets as train data.__

In [195]:
# https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html#:~:text=Note%3A%20index_col%3DFalse%20can%20be,the%20end%20of%20each%20line.&text=Return%20a%20subset%20of%20the%20columns.
# https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.concat.html

def all_act_label_df(trainset_testset_split, all_act_labels, start, end):
    for label in all_act_labels:
        for i in range(start,end+1):
            activity = str(i)
            filepath = '/dataset'+activity+'.csv'
            df = pd.read_csv(path+label+filepath, header = 4, names=col, index_col=False)
            trainset_testset_split = pd.concat([df], ignore_index=True)
    return trainset_testset_split

#testset
testset = pd.DataFrame(columns=col)
testset = all_act_label_df(testset, actv_dir, 1, 2)
testset = all_act_label_df(testset, actv_dir2, 1, 3)

testset

,# Columns: time,avg_rss12,var_rss12,avg_rss13,var_rss13,avg_rss23,var_rss23
0,0,24.75,5.76,13.25,3.03,18.75,1.48
1,250,36.25,7.26,15.00,3.67,17.75,2.86
2,500,37.00,3.94,20.25,1.30,16.25,1.64
3,750,33.75,3.27,19.50,4.50,15.00,2.12
4,1000,34.25,5.21,17.00,1.22,14.25,4.15
...,...,...,...,...,...,...,...
475,118750,36.00,2.45,17.00,5.10,20.50,0.87
476,119000,34.33,1.89,15.00,2.45,17.00,2.12
477,119250,33.00,7.35,14.60,3.14,13.00,5.70
478,119500,31.67,1.25,11.00,6.16,19.25,2.17
479,119750,30.75,10.21,11.75,1.09,18.50,3.20

In [196]:
#trainset
trainset = pd.DataFrame(columns=col)
trainset = all_act_label_df(trainset, actv_dir2, 4, 15)
trainset = all_act_label_df(trainset, actv_dir[:1], 3, 7)
trainset = all_act_label_df(trainset, actv_dir[1:2], 3, 6)

trainset

,# Columns: time,avg_rss12,var_rss12,avg_rss13,var_rss13,avg_rss23,var_rss23
0,0,34.50,1.50,8.00,1.58,28.00,0.71
1,250,36.00,0.00,11.25,3.49,28.50,0.50
2,500,36.00,0.00,20.00,1.22,27.00,0.71
3,750,38.25,0.43,21.25,0.43,26.00,0.71
4,1000,37.50,1.12,22.00,0.82,23.67,2.49
...,...,...,...,...,...,...,...
475,118750,27.00,0.00,14.00,0.00,6.50,0.50
476,119000,27.00,0.00,15.00,0.00,4.00,1.00
477,119250,27.00,0.00,14.25,0.83,4.00,2.00
478,119500,27.00,0.00,13.33,1.25,1.50,0.50
479,119750,26.50,0.50,15.00,0.00,3.00,0.00

### __(c) Feature Extraction Classification of time series usually needs extracting features from them.In this problem, we focus on time-domain features__

#### __i. Research what types of time-domain features are usually used in time series classification and list them (examples are minimum, maximum, mean, etc)__

Time-domain features are usually used in time series classification are:
1. Means
2. Standard Deviations
3. Skewness, Kurtosis
4. Maximum and minimum values

#### __ii. Extract the time-domain features minimum, maximum, mean, median, standard deviation, first quartile, and third quartile for all of the 6 time series in each instance.You are free to normalize/standardize features or use them directly__

In [197]:
# feature_list = ['min','max','mean','median','std','first_quartile', 'third_quartile']
# pass_features = []
# for j in range(len(col)*1):
#     for i in feature_list:
#         pass_features.append(i+'_'+str(j+1))

# train_dataset,test_dataset = all_act_label_df(pass_features,trainset, 1,7)
# train_dataset

In [198]:
def load_data(files, feature, col, segs=1, standard=False):
    import csv
    sniffer = csv.Sniffer()
    
    # generate columns of describes and label with indecies
    describe_order = ['mean', 'std', 'min', '_1stquart_', 'median', '_3rdquart_','max']
    desc_order_idx = [desc + str(i) for i in range(1, 6 * segs + 1) for desc in describe_order]
    
    instances  = []
    labels = []
    for csv in files:
        # get the label of the instance read from current csv
        parent_folder = os.path.dirname(csv)
        activity = os.path.split(parent_folder)[-1]
        labels.append(activity)
        
        # identidy the separater of the csv file
        sep = sniffer.sniff(open(csv).read()).delimiter
        
        # error_bad_lines=False used to 
        if sep == ",":
            cur_instance = pd.read_csv(csv, skiprows=5, header=None, 
                                       error_bad_lines=False, warn_bad_lines=False)
        else:
            cur_instance = pd.read_csv(csv, skiprows=5, header=None, sep="\s+", 
                                       error_bad_lines=False, warn_bad_lines=False)
        
        # restore the column of csv file as we skip 5th row which is headers in the csv
        # however, they will becomes mass when separater is space. Thus, skip it
        cur_instance.columns = col
        
        # break 6 time series into equal length, becomes 6*segs series
        seg_length = int(cur_instance.shape[0] / segs)
        segs_describe = []
        for i in range(segs):
            cur_seg = cur_instance[i * seg_length : min((i + 1) * seg_length, cur_instance.shape[0])]
            cur_describe = cur_seg.describe().drop(columns="# Columns: time").T
            segs_describe.append(cur_describe.values.flatten())
        # complete current instance reading
        instances.append(pd.concatenate(segs_describe, axis=None))
     # convert to dataframe and reorder the columns based on given feature list
    feature_df = pd.DataFrame(instances, columns=desc_order_idx)
    feature_df = feature_df.loc[:, feature]
    
    if standard:
        feature_df = feature_df.apply(lambda col: (col-col.mean()) / (pd.std(col) + 1e-9), axis = 0)
    
    # add label to complete the dataset
    feature_df['label'] = pd.Series(labels)
    
    return feature_df

# reorder the columns
statistics = ['min','max','mean','median','std','_1stquart_', '_3rdquart_']
feature = [stat + str(i) for i in range(1, 7) for stat in statistics]

# load dataset as required
train_data = load_data(trainset, feature, col)
test_data = load_data(testset, feature, col)

FileNotFoundError: [Errno 2] No such file or directory: '# Columns: time'